[Unit]
Description=Docker Compose Application Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/user/fastgram
ExecStart=docker-compose up --build
ExecStop=docker-compose down
Restart=always
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
